{% extends 'base.html' %}

{% block title %} Sign In {% endblock title %}

{% block body %}

<body class="d-flex h-100 text-center text-white bg-dark" data-new-gr-c-s-check-loaded="14.1058.0" data-gr-ext-installed="">

<div class="cover-container md-3 d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="mb-auto">
    <div>
      <h3 class="float-md-start mb-0">Forum</h3>
      <nav class="nav nav-masthead justify-content-center float-md-end">
        <a class="nav-link active" aria-current="page" href="/forum/">Home</a>
      </nav>
    </div>
  </header>


<div class="container" style="padding: 150px;">
<main class="form-signin">
  <form method="post" action="/forum/signin">
    {% csrf_token %}
    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

    <div class="mb-3">
    <label for="siginusername" class="form-label">Username</label>
    <input type="text" class="form-control" id="siginusername" name="siginusername" aria-describedby="username1">
    <div id="username1" class="form-text">i.e. Moiez_Javaid</div>
  </div>
    <div class="mb-3">
    <label for="signinpassword" class="form-label">Password</label>
    <input type="password" class="form-control" id="signinpassword" name="signinpassword">
  </div>

    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
  </form>
</main>
</div>
</div>
<div data-flash-app-container="true" id="flash_player_app_root"></div></body>
{% endblock body %}